body {
  font-family: Arial, sans-serif;
  margin: 50px;
}

form {
  max-width: 400px;
  margin: auto;
  background: #f5f5f5;
  padding: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 98%;
  padding: 10px 5px;
  margin: 10px 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

.inputForm {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 0.9em;
  margin-bottom: 10px;
}

button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Flash messages styles
    */

.flash-message {
  margin-top: 5px;
  border: 1px solid #c4c4c4;
  padding: 10px;
}

.flash-message--success {
  color: #155724;
}

.flash-message--error {
  color: #721c24;
}

.flash-message--info {
  color: #0c5460;
}
.flash-message--warning {
  color: #856404;
}
