# Remove the question mark from the request but maintain the query string

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# When saving with Ctrl + S, prettier mess with the RewriteRule-- Save from the menu (Alt->File)
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
