{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
footer %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("signup-form");
    const passwordInput = document.getElementById("inputPassword");
    const passwordError = document.getElementById("password-error");


    const emailInput = document.getElementById("inputEmail");



    passwordInput.addEventListener("input", function () {
      const password = passwordInput.value;
      const errors = validatePassword(password);

      if (errors.length > 0) {
        passwordError.textContent =
          "🛑 Password must contain " + errors.join(", ") + ".";
        passwordError.className = "error";
      } else {
        passwordError.textContent = "";
        passwordSuccess.textContent = "✅ Password looks good!";
        passwordError.className = "success";
      }
    });





    // Email Validator

    emailInput.addEventListener("input", function () {
      const email = emailInput.value;
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (email === "") {
        feedbackElement.textContent = "";
        return;
      }

      if (!emailRegex.test(email)) {
        feedbackElement.textContent = "❌ Invalid email format.";
        feedbackElementValid.textContent = "";
      } else {
        feedbackElement.textContent = "";
        feedbackElementValid.textContent = "✅ Email looks valid!";
      }
    });

    function validateEmailInput() {
      const emailInputValue = document.getElementById("inputEmail").value;
      //const feedbackElement = document.getElementById("emailFeedback");
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (emailRegex.test(emailInputValue)) {
        feedbackElement.textContent = ""; // Email is valid
        feedbackElementValid.textContent = "Email looks valid!";
        return true;
      } else {
        feedbackElement.textContent = "❌ Please enter a valid email address.";
        feedbackElementValid.textContent = "";
        return false;
      }
    }

    // Form validation
    form.addEventListener("submit", function (e) {
      const password = passwordInput.value;
      const errors = validatePassword(password);
      const emailIsValid = validateEmailInput();

      if (errors.length > 0) {
        e.preventDefault();
        let message = "❌ Fix password before submitting!";

        passwordError.textContent = message;
        passwordError.className = "error";
      }

      if (!emailIsValid) {
        e.preventDefault();
      }
    });
  });
</script>

{% endblock %} {% block body %}

<h1>Login page</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>

{% endif %}

<form method="POST" action="/login/create" id="signup-form">


  <div class="inputForm">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      id="inputEmail"
      placeholder="Email address"
      name="email"
      value="{{ user.email }}"
      autofocus
    />
    <div id="emailFeedback" style="color: red"></div>
  </div>
  <div class="inputForm">
    <label for="inputPassword">Password</label>
    <input
      type="password"
      id="inputPassword"
      placeholder="Password"
      name="password"
      autofocus
    />
  </div>
  <div id="password-error" class="error" style="color: red"></div>

  <button type="submit" style="margin-top: 20px">Login</button>
</form>

{% endblock %}