<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {% for message in flash_messages %}
    <div class="flash-message flash-message--{{message.type}}">
      {{message.body}}
    </div>
    {%endfor %} {% block header %} {% endblock %} {% block nav %} {% endblock %}
    {% block content %} {% endblock %} {% block body %} {% endblock %} {% block
    footer %}{% endblock %}
  </body>
</html>
